@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600&display=swap');
body {
    background-color: transparent;
    user-select: none;
}
#app {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 40%;
    height: 50%;

    background-color: #212129;

    border-radius: 27px;
    
    overflow-y: auto;
    overflow-x: hidden;
	font-family: 'Titillium Web', sans-serif;
    color: white;
    text-align: center;

    padding: 10px 10px 10px 10px;
}

.btn {
    background-color: #15141a;
    color: white;
    transition: all 1s;
    	font-family: 'Titillium Web', sans-serif;
    border: none;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
}
.btn:hover {
    background-color: #1463fe;
}

.btn:focus {
    animation: onclick 0.5s;
}
.btn:active {
    animation: none;
}

.close-btn {
    color: #ffffff;
    background-color: #ffffff00;
    position: absolute;
    top: 15px; 
    right: 15px; 
    font-size: 1.5rem;
    opacity: .75;
}

.search-inp {
    width: 60%;
    height: 2rem;
    display: flex;
    flex-direction: row;
    margin-left: 50%;
    transform: translateX(-50%);
}
.search-icon {
    background-color: #2e2e37;
    width: 5%;
    border-radius: 5px;
    padding: 5px;
    font-size: 1.2rem;
    margin-right: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.inp {
    background-color: #2e2e37;
    color: #ffffff;
    border: none;
    	font-family: 'Titillium Web', sans-serif;
    font-size: 1.2rem;
    border-radius: 5px;
    padding: 5px;
    width: 95%;
}
.inp:focus {
    outline: none;
}


.job-list {
    display: flex;
    justify-content: center;
    flex-wrap:wrap;
    margin-top: 10px;
}
.job {
    width: 18rem;
    max-height: 20rem;
    margin: 5px;
    background-color: #15141a;
    border-radius: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
}
.job-title {
    margin:5px;
    margin-top: 8px;
    font-size: 1.2rem;
}
.job-text {
    margin:5px;
    font-size: .9rem;
}
.job .btn {
    margin-top:10px;
    background-color: #2e2e37;
    border: solid;
    border-radius: 9px;
    border-color: #1463fe;
}

.job .btn:hover {
    margin-top:10px;
    background-color: #1463fe;
    border: solid;
    border-radius: 9px;
    border-color: #1463fe;
    box-shadow: 0px 0px 3px #1463fe, 0px 0px 3px #1463fe, 0px 0px 6px #1463fe;
}

.job-img {
    width:70%;
}

body::-webkit-scrollbar {
    display: none;
}
#app::-webkit-scrollbar-thumb {
    background-color: #1463fe;
    border: 5px solid transparent;
    border-radius: 10px;
    background-clip: padding-box;  
}
#app::-webkit-scrollbar {
    height: 20px;
    width: 16px;
}



@keyframes onclick {
    0% {
        transform: scale(1, 1);
    }
    50% {
        transform: scale(0.8, 0.8);
    }
    100% {
        transform: scale(1, 1);
    }
}
@keyframes hopin {
    0% {
        transform: translate(-50%, -50%) scale(0.1, 0.1);
    }
    50% {
        transform: translate(-50%, -50%) scale(1.1, 1.1);
    }
    70% {
        transform: translate(-50%, -50%) scale(0.9, 0.9);
    }
    100% {
        transform: translate(-50%, -50%) scale(1, 1);
    }
}
@keyframes hopout {
    0% {
        transform: translate(-50%, -50%) scale(1, 1);
    }
    20% {
        transform: translate(-50%, -50%) scale(1.1, 1.1);
    }
    100% {
        transform: translate(-50%, -50%) scale(0.1, 0.1);
    }
}